[submodule "Python2/Deps/analysis-tools"]
	path = Python2/Deps/analysis-tools
	url = https://github.com/open-ephys/analysis-tools.git
[submodule "Python3/Deps/pyaudio"]
	path = Python3/Deps/pyaudio
	url = https://github.com/jleb/pyaudio
[submodule "Python3/Deps/analysis-tools"]
	path = Python3/Deps/analysis-tools
	url = https://github.com/open-ephys/analysis-tools
